body {
	font-family: 'Amatic SC', cursive;
	max-width: 1200px;
	margin: 15vh auto 0 auto;
}

header{
	background-color: #c1ffd0;
	border-radius: 300px 300px 0 0;
}

h1 {
	font-size: 2.5em;
	text-align: center;
	padding-top: 0.5em;
}


input {
    width: 50%;
    padding: 10px;
    font-size: 0.8em;
    margin: 0 0 5vh 20vw;
}


.addAct{
	position: relative;
	left: 3vw; 
	font-size: 1.6em;
}

.addAct:hover{

	color: red;
	cursor: pointer;
	font-weight: bold;
}

ul {
    margin: 0;
    padding: 0;
}
ul li {
    cursor: pointer;
    position: relative;
    padding: 15px 8px 15px 40px;
    background: #eee;
    font-size: 2em;
    transition: 0.2s;
    list-style: none;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    animation-duration: 4s;
	animation-fill-mode: forwards;
}

ul li:nth-child(odd) {
    background: #f9f9f9;
}

ul li:hover {
    background: #ddd;
}

ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
    font-size: 1.2em;
}

.close:hover {
	background-color: #c1ffd0;
    color: red;
}

#doneInfo{
	display: none;
	padding: 1.5em;
	font-size: 2em;
	text-align: center;
	animation-duration: 2s;
	animation-fill-mode: forwards;

}

@keyframes backgroundFadeIn{
	0% {background-color: #888}
	100%{background-color: #c1ffd0}
}


footer{
	position: fixed;
	bottom: 0.5vh;
	right: 0.5vw;
	font-size: 1.3em;
}

@media screen and (max-width: 736px){

	h1{
		font-size: 1.5em;
	}
	h2{
		font-size: 1em;
	}
	ul li{
		font-size: 1.3em;
	}
	span.addAct{
		font-size: 0.9em;
	}
}