body {
	font-family: 'Amatic SC', cursive;
	max-width: 1200px;
	margin: 15vh auto 0 auto;
}

header{
	background-color: #c1ffd0;
	border-radius: 300px 300px 0 0;
}

h1,h3 {
	text-align: center;
	animation-fill-mode: forwards;
}

h1 {
	font-size: 2.5em;
	padding: 0.5em;
	animation-name: fade;
}

h3 {
	font-size: 1.5em;
	position: relative;
	top: 10vh;
	cursor: pointer;
}

input {
    width: 50%;
    padding: 10px;
    font-size: 16px;
    margin: 0 0 5vh 20vw;
}

.add{



}
.addAct{
	position: relative;
	left: 3vw; 
	font-size: 1.6em;
}

.addAct:hover{

	color: red;
	cursor: pointer;
	font-weight: bold;
}

ul {
    margin: 0;
    padding: 0;
}
ul li {
    cursor: pointer;
    position: relative;
    padding: 15px 8px 15px 40px;
    background: #eee;
    font-size: 2em;
    transition: 0.2s;
    list-style: none;

    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    animation-duration: 4s;
	animation-fill-mode: forwards;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
    background: #f9f9f9;
}

ul li:hover {
    background: #ddd;
}

/* When clicked on, add a background color and strike out text */
ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
    font-size: 1.2em;
}

.close:hover {
	background-color: #c1ffd0;
    color: red;
}

#doneInfo{
	display: none;
	padding: 1.5em;
	font-size: 2em;
	text-align: center;
	animation-duration: 2s;
	animation-fill-mode: forwards;

}
@keyframes fade{
	0% {opacity: 1}
	100% {opacity: 0}
}

@keyframes backgroundFadeIn{
	0% {background-color: #888}
	100%{background-color: #c1ffd0}
}


footer{
	position: fixed;
	bottom: 0.5vh;
	right: 0.5vw;
	font-size: 1.3em;
}